doctype
html(lang="en")
    include helper/head.pug
    body
        main
            div(class="container")
                img(src="images/drawers.jpg" alt="drawers")
                div(class="text")
                    h2 Shift the overall look and feel by adding these wonderful touches to furniture in your home
                    p Ever been in a room and felt like something was missing? Perhaps it felt slightly bare and uninviting. I’ve got some simple tips to help you make any room feel complete.
                    div(class="avatar")
                        figure
                            img(src="images/avatar-michelle.jpg" alt="avatar" width="40" height="40" class="rounded")
                            figcaption
                                p Michelle Appleton
                                time(datetime="2020-06-28") 28 Jun 2020
                        button(class="rounded" aria-expanded="false")
                            img(src="images/icon-share.svg" alt="")
                        div(class="share")
                            h2 share
                            ul
                                li
                                    a(href="#")
                                        img(src="images/icon-facebook.svg" alt="" width="22" height="22")
                                li
                                    a(href="#")
                                        img(src="images/icon-twitter.svg" alt="" width="22" height="22")
                                li
                                    a(href="#")
                                        img(src="images/icon-pinterest.svg" alt="" width="22" height="22")
        div(class="attribution") Challenge by
            a(href="https://www.frontendmentor.io?ref=challenge" target="_blank") Frontend Mentor
            | Coded by 
            a(href="#") Ahmed Kamal Mohammed
        script(src="js/main.js")